@{
    ViewData["Title"] = "500 – Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="center-page">
    <section class="container">
        <h1>Det skete en fejl</h1>
    </section>
</div>