# OS/Editor
.DS_Store
Thumbs.db
*.swp
*.swo
.vscode/
.idea/
src/cms/.idea

# Node/Frontend
node_modules/

# Dotnet
bin/
obj/
src/cms/bin
src/cms/obj

# Docker/Postgres data
container/db/data/
data/
.env
