@model IEnumerable<cms.Controllers.UsersController.UserRow>
@{
    ViewData["Title"] = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="users-page">
    <h1>Users</h1>
    <p><a id="users-new" class="btn" href="/users/create">New user</a></p>
    
    <table id="users-table">
        <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Roles</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var u in Model)
        {
            <tr>
                <td>@u.UserName</td>
                <td>@u.Email</td>
                <td>@string.Join(", ", u.Roles)</td>
                <td><a href="/users/@u.Id">Edit</a></td>
            </tr>
        }
        </tbody>
    </table>
</section>