@{
    ViewData["Title"] = "Landing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="center-page">
    <div>
        <h1>Velkommen</h1>
        <p>Du er logget ind som <strong>@User.Identity!.Name</strong>.</p>
    </div>
</div>